/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header, .content-section, .system-monitoring {
    margin-bottom: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #848785;
    padding: 10px;
    border-radius: 5px;
}
header button {
    padding: 5px 100px;
    border: none;
    background-color: #424242;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
header button:hover {
    background-color: #0056b3;
}
.current-warnings, .auto-scan-progress, .all-systems {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.current-warnings table, .all-systems table {
    width: 100%;
    border-collapse: collapse;
}
.current-warnings table td, .all-systems table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.current-warnings table td:nth-child(3), .current-warnings table td:nth-child(4), 
.all-systems table td:last-child {
    text-align: center;
}
.auto-scan-progress, .cis-benchmark {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.benchmark-container {
    border: 1px solid #ddd;
    text-align: center;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.benchmark-container button, .add-client button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.benchmark-container button:hover, .add-client button:hover {
    background-color: #218838;
}

#add-benchmark {
    /*object-position:left bottom;*/
}

.auto-scan-progress {
    text-align: center;
    padding: 20px;
}
.add-client {
    text-align: center;
    margin-top: 20px;
}

/*Login Page styles*/
.login-body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding-right:35px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 107%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}
